
# Generic 
=====================
*~

# Project specific
# ====================
bootstrap_doctrine.php
bootstrap_pdo.php
bootstrap_doctrine_mysql.php
bootstrap_doctrine_oracle.php
vendor/
compiledEntities/
composer.phar
composer.bat
composer
gocdb.log
tests/coverageReports/

# Eclipse: https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore
# =====================
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/



# Netbeans: https://github.com/github/gitignore/blob/master/Global/NetBeans.gitignore 
# =====================
nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

#PhpStorm
#================
*.iml
.idea/

#wamp
#==============
error.log
transfer.log
Composer-Setup.exe
