
# Generic 
=====================
*~

# Project specific
# ====================
bootstrap_doctrine.php
bootstrap_pdo.php
bootstrap_doctrine_mysql.php
bootstrap_doctrine_oracle.php
vendor/
compiledEntities/
composer.phar
composer.bat
composer
gocdb.log

# Eclipse: https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore
# =====================
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# CDT-specific
.cproject
# PDT-specific
.buildpath
# sbteclipse plugin
.target
# TeXlipse plugin
.texlipse


# Netbeans: https://github.com/github/gitignore/blob/master/Global/NetBeans.gitignore 
# =====================
nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
