body {
    background: linear-gradient(to bottom left,#F7F9FE, #DEE9FB, #D0DFF9);
    background-repeat: no-repeat;
    color: #272A4B;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8em;
    text-align: center;
    text-align: left;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
}

.button {
    background: #48D249; /* backstop for (IE) compatibility mode view setting */
    background: linear-gradient(#48D249, #B0EBB1);
    color: white;
    text-align: center;
    display: block;
    font-size: 2.3em;
    border-radius: 0.4em;
    padding: 0.4em 1em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
}

html {
    height: 100%;
}

h1,h2,h3 {
    color: #00AC00;
    text-decoration: none;
    font-weight:normal;
    margin-top: 0em;
    margin-bottom: 0.2em;
    text-shadow: 1px 1px 1px #D5DDD5;
    font-size: 2.5em;
}

/* h2-4 are only used in the Privacy and AUP policy notices */

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
}

h4 {
    line-height: 1;
}

a {
    color: #103C7A;
    text-decoration: none;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.page_container,.wide_page_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    min-width: 45em;
    overflow: hidden;
    z-index: 1;
    background-color: transparent;
}

/* wide_page_container is only used in Privacy and AUP policy */

.wide_page_container {
    width: 70em;
}

.centre_box {
    position: relative;
    padding: 0.5em 1em 0.0em 1em;
}

div.Copyright_Text {
    font-size: 0.8em;
    text-align: center;
    margin: 1em auto;
    width: 80%;
}

a.docLink {
    color: #00AC00;
}

a:hover {
    text-decoration: underline;
}

a.Sponsor_Link img.Sponsor_Logo {
    display:inline-block;
    vertical-align: bottom;
    height: 100%;
}

a.Sponsor_Link:hover {
    text-decoration: none;
}

/* Put a small gap between the clickable area of the sponsor logos */
a.Sponsor_Link {
    margin-left: 3px;
    margin-right: 3px;
}

h1.Landing_Welcome {
  display: inline-block;
}

/* The GOCDB cloverleaf */

img.Landing_Logo {
  display: inline-block;
  vertical-align:top;
  margin-right: 1em;
}


/* Opens in new window icon, padded from image description */
img.new_window{
    height: 1em;
    padding-left: 0.15em;
    vertical-align: baseline;
  }

.leftFloat {
    float: left;
    margin-right:auto;
}

div.centrePageContainer {
    background: white;
    background-image: url('contentBackground.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 3em;
    border: 1px solid grey;
    padding: 1em;
    border-radius: 0.4em;
}

div.policyText {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3em;
    margin-bottom: auto;
    text-align: justify;
}
